.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: #999999;
}
a.muted:hover,
a.muted:focus {
  color: #808080;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}
.text-error {
  color: #b94a48;
}
a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}
.text-success {
  color: #468847;
}
a.text-success:hover,
a.text-success:focus {
  color: #356635;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  line-height: 40px;
}
h1 {
  font-size: 38.5px;
}
h2 {
  font-size: 31.5px;
}
h3 {
  font-size: 24.5px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
h1 small {
  font-size: 24.5px;
}
h2 small {
  font-size: 17.5px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}
.dl-horizontal {
  *zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #0088cc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}
form {
  margin: 0 0 20px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 15px;
  color: #999999;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
input,
textarea,
.uneditable-input {
  width: 206px;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
select {
  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
  color: #999999;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}
input,
textarea,
.uneditable-input {
  margin-left: 0;
}
.controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px;
}
input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 926px;
}
input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 846px;
}
input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 766px;
}
input.span9,
textarea.span9,
.uneditable-input.span9 {
  width: 686px;
}
input.span8,
textarea.span8,
.uneditable-input.span8 {
  width: 606px;
}
input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 526px;
}
input.span6,
textarea.span6,
.uneditable-input.span6 {
  width: 446px;
}
input.span5,
textarea.span5,
.uneditable-input.span5 {
  width: 366px;
}
input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 286px;
}
input.span3,
textarea.span3,
.uneditable-input.span3 {
  width: 206px;
}
input.span2,
textarea.span2,
.uneditable-input.span2 {
  width: 126px;
}
input.span1,
textarea.span1,
.uneditable-input.span1 {
  width: 46px;
}
.controls-row {
  *zoom: 1;
}
.controls-row:before,
.controls-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.controls-row:after {
  clear: both;
}
.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
  float: left;
}
.controls-row .checkbox[class*="span"],
.controls-row .radio[class*="span"] {
  padding-top: 5px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad;
}
.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
}
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}
.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}
.form-actions:before,
.form-actions:after {
  display: table;
  content: "";
  line-height: 0;
}
.form-actions:after {
  clear: both;
}
.help-block,
.help-inline {
  color: #595959;
}
.help-block {
  display: block;
  margin-bottom: 10px;
}
.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
}
.input-append,
.input-prepend {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 0;
  white-space: nowrap;
}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu,
.input-append .popover,
.input-prepend .popover {
  font-size: 14px;
}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}
.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px;
}
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}
input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
/* Allow for input prepend/append in search forms */
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-search .input-append .search-query {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}
.form-search .input-append .btn {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .btn {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}
.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}
.control-group {
  margin-bottom: 10px;
}
legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}
.form-horizontal .controls:first-child {
  *padding-left: 180px;
}
.form-horizontal .help-block {
  margin-bottom: 0;
}
.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {
  margin-top: 10px;
}
.form-horizontal .form-actions {
  padding-left: 180px;
}
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}
table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}
.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}
.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}
.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}
.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}
.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}
.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}
.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}
.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}
.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}
.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}
.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}
.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}
.table tbody tr.success > td {
  background-color: #dff0d8;
}
.table tbody tr.error > td {
  background-color: #f2dede;
}
.table tbody tr.warning > td {
  background-color: #fcf8e3;
}
.table tbody tr.info > td {
  background-color: #d9edf7;
}
.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}
.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}
.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}
.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.container-fluid:after {
  clear: both;
}
/* Mrizka responzivni Webmium sablony */
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
[class*="span"],
.span {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}
.row-fluid [class*="span"]:first-child,
.span-first {
  margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}
.span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}
.offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}
.offset12:first-child,
.offset12-span-first {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}
.offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}
.offset11:first-child,
.offset11-span-first {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}
.offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}
.offset10:first-child,
.offset10-span-first {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}
.offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}
.offset9:first-child,
.offset9-span-first {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}
.offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}
.offset8:first-child,
.offset8-span-first {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}
.offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}
.offset7:first-child,
.offset7-span-first {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}
.offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}
.offset6:first-child,
.offset6-span-first {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}
.offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}
.offset5:first-child,
.offset5-span-first {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}
.offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}
.offset4:first-child,
.offset4-span-first {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}
.offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}
.offset3:first-child,
.offset3-span-first {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}
.offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}
.offset2:first-child,
.offset2-span-first {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}
.offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}
.offset1:first-child,
.offset1-span-first {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}
.wm-m-section {
  margin-bottom: 40px;
}
@media (max-width: 599px) {
  .wm-m-section {
    margin-bottom: 20px;
  }
}
.wm-m-proportional-child {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}
body {
  background: #eeeeee;
}
@media (max-width: 767px) {
  body {
    background: #ffffff;
  }
}
.container-fluid {
  max-width: 940px;
  margin: 20px auto;
  background: #ffffff;
}
.old-ie .container-fluid {
  width: 940px;
}
@media (max-width: 767px) {
  .container-fluid {
    margin-bottom: 0;
  }
}
h1,
h2,
h3 {
  margin-top: 0;
}
h1 {
  line-height: 40px;
}
@media (max-width: 480px) {
  h1 {
    font-size: 25.2px;
    line-height: 32px;
  }
}
h2 {
  line-height: 35px;
}
@media (max-width: 480px) {
  h2 {
    font-size: 21px;
    line-height: 26px;
  }
}
h3 {
  line-height: 30px;
}
@media (max-width: 480px) {
  h3 {
    font-size: 15.400000000000002px;
    line-height: 20px;
  }
}
.content img {
  max-width: 100%;
  height: auto;
}
.content > hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-bottom: 1px solid #eee;
}
@media (max-width: 599px) {
  .content > hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.wm-l-mobile-header {
  background: #000000;
  margin: -20px -20px 20px -20px;
  padding: 10px 20px;
  *zoom: 1;
}
.wm-l-mobile-header:before,
.wm-l-mobile-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.wm-l-mobile-header:after {
  clear: both;
}
@media (max-width: 599px) {
  .wm-l-header {
    text-align: center;
  }
}
@media (max-width: 599px) {
  .wm-l-header h1 {
    font-size: 26px;
  }
}
.wm-l-footer {
  margin: -20px -20px 0 -20px;
  padding: 10px 20px;
  background: #f6f6f6;
  clear: both;
}
.wm-l-footer p {
  margin: 0;
}
#sw-main-navigation {
  z-index: 100;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  border-top: 1px solid #ffffff;
}
#sw-main-navigation ul,
#sw-main-navigation li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#sw-main-navigation li > a,
#sw-main-navigation li > strong {
  display: block;
  padding: 11px 19px;
  background: #666666;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#sw-main-navigation li > a:hover,
#sw-main-navigation li > a:focus,
#sw-main-navigation li > a:active,
#sw-main-navigation li > a.active,
#sw-main-navigation li > strong {
  background: #333333;
  text-decoration: none;
}
#sw-main-navigation ul ul li > a,
#sw-main-navigation ul ul li > strong {
  background: #999999;
}
#sw-main-navigation ul ul ul li > a,
#sw-main-navigation ul ul ul li > strong {
  background: #cccccc;
}
@media print {
  #sw-main-navigation {
    display: none;
  }
}
@media (min-width: 600px) {
  #sw-main-navigation.nav-vertical {
    position: static;
    top: auto;
    left: auto;
    z-index: 0;
    border-top: 0;
  }
  #sw-main-navigation.nav-vertical ul li {
    position: relative;
  }
  #sw-main-navigation.nav-vertical ul ul {
    position: absolute;
    top: 0;
    left: -999px;
    border-left: 1px solid #fff;
  }
  #sw-main-navigation.nav-vertical ul > li:hover > ul,
  #sw-main-navigation.nav-vertical ul > li:focus > ul,
  #sw-main-navigation.nav-vertical ul > li:active > ul,
  #sw-main-navigation.nav-vertical ul > li.active > ul {
    z-index: 101;
    left: 100%;
    max-width: 313px;
  }
  ul #sw-main-navigation.nav-vertical ul > li:hover ul,
  ul #sw-main-navigation.nav-vertical ul > li:focus ul,
  ul #sw-main-navigation.nav-vertical ul > li:active ul,
  ul #sw-main-navigation.nav-vertical ul > li.active ul {
    z-index: 102;
  }
}
.old-ie #sw-main-navigation.nav-vertical {
  position: static;
  top: auto;
  left: auto;
  z-index: 0;
  border-top: 0;
}
.old-ie #sw-main-navigation.nav-vertical ul li {
  position: relative;
}
.old-ie #sw-main-navigation.nav-vertical ul ul {
  position: absolute;
  top: 0;
  left: -999px;
  border-left: 1px solid #fff;
}
.old-ie #sw-main-navigation.nav-vertical ul > li:hover > ul,
.old-ie #sw-main-navigation.nav-vertical ul > li:focus > ul,
.old-ie #sw-main-navigation.nav-vertical ul > li:active > ul,
.old-ie #sw-main-navigation.nav-vertical ul > li.active > ul {
  z-index: 101;
  left: 100%;
  max-width: 313px;
}
ul .old-ie #sw-main-navigation.nav-vertical ul > li:hover ul,
ul .old-ie #sw-main-navigation.nav-vertical ul > li:focus ul,
ul .old-ie #sw-main-navigation.nav-vertical ul > li:active ul,
ul .old-ie #sw-main-navigation.nav-vertical ul > li.active ul {
  z-index: 102;
}
@media (min-width: 600px) {
  #sw-main-navigation.nav-horizontal {
    position: static;
    top: auto;
    left: auto;
    z-index: 0;
    border-top: 0;
    background: #666666;
    margin-bottom: 0;
    display: table;
    width: 100%;
  }
  #sw-main-navigation.nav-horizontal > ul {
    display: table-row;
  }
  #sw-main-navigation.nav-horizontal > ul > li {
    display: inline-block;
    display: table-cell;
  }
  #sw-main-navigation.nav-horizontal > ul > li > a,
  #sw-main-navigation.nav-horizontal > ul > li > strong {
    text-align: center;
    display: block;
    border-right: 1px solid #ffffff;
    border-bottom: 0;
  }
  #sw-main-navigation.nav-horizontal > ul > li:last-child > a,
  #sw-main-navigation.nav-horizontal > ul > li:last-child > strong {
    border-right: none;
  }
  #sw-main-navigation.nav-horizontal ul li {
    position: relative;
  }
  #sw-main-navigation.nav-horizontal ul ul {
    position: absolute;
    top: -999px;
    left: -1px;
  }
  #sw-main-navigation.nav-horizontal ul > li:hover > ul,
  #sw-main-navigation.nav-horizontal ul > li:focus > ul,
  #sw-main-navigation.nav-horizontal ul > li:active > ul,
  #sw-main-navigation.nav-horizontal ul > li.active > ul {
    z-index: 101;
    left: -1px;
    top: 100%;
    max-width: 313px;
  }
  #sw-main-navigation.nav-horizontal ul ul > li:hover > ul,
  #sw-main-navigation.nav-horizontal ul ul > li:focus > ul,
  #sw-main-navigation.nav-horizontal ul ul > li:active > ul,
  #sw-main-navigation.nav-horizontal ul ul > li.active > ul {
    z-index: 102;
    left: 100%;
    top: 0;
  }
}
.old-ie #sw-main-navigation.nav-horizontal {
  position: static;
  top: auto;
  left: auto;
  z-index: 0;
  border-top: 0;
  background: #666666;
  margin-bottom: 0;
  display: table;
  width: 100%;
}
.old-ie #sw-main-navigation.nav-horizontal > ul {
  display: table-row;
}
.old-ie #sw-main-navigation.nav-horizontal > ul > li {
  display: inline-block;
  display: table-cell;
}
.old-ie #sw-main-navigation.nav-horizontal > ul > li > a,
.old-ie #sw-main-navigation.nav-horizontal > ul > li > strong {
  text-align: center;
  display: block;
  border-right: 1px solid #ffffff;
  border-bottom: 0;
}
.old-ie #sw-main-navigation.nav-horizontal > ul > li:last-child > a,
.old-ie #sw-main-navigation.nav-horizontal > ul > li:last-child > strong {
  border-right: none;
}
.old-ie #sw-main-navigation.nav-horizontal ul li {
  position: relative;
}
.old-ie #sw-main-navigation.nav-horizontal ul ul {
  position: absolute;
  top: -999px;
  left: -1px;
}
.old-ie #sw-main-navigation.nav-horizontal ul > li:hover > ul,
.old-ie #sw-main-navigation.nav-horizontal ul > li:focus > ul,
.old-ie #sw-main-navigation.nav-horizontal ul > li:active > ul,
.old-ie #sw-main-navigation.nav-horizontal ul > li.active > ul {
  z-index: 101;
  left: -1px;
  top: 100%;
  max-width: 313px;
}
.old-ie #sw-main-navigation.nav-horizontal ul ul > li:hover > ul,
.old-ie #sw-main-navigation.nav-horizontal ul ul > li:focus > ul,
.old-ie #sw-main-navigation.nav-horizontal ul ul > li:active > ul,
.old-ie #sw-main-navigation.nav-horizontal ul ul > li.active > ul {
  z-index: 102;
  left: 100%;
  top: 0;
}
.sw-main-navigation-vertical {
  position: static;
  top: auto;
  left: auto;
  z-index: 0;
  border-top: 0;
}
.sw-main-navigation-vertical ul li {
  position: relative;
}
.sw-main-navigation-vertical ul ul {
  position: absolute;
  top: 0;
  left: -999px;
  border-left: 1px solid #fff;
}
.sw-main-navigation-vertical ul > li:hover > ul,
.sw-main-navigation-vertical ul > li:focus > ul,
.sw-main-navigation-vertical ul > li:active > ul,
.sw-main-navigation-vertical ul > li.active > ul {
  z-index: 101;
  left: 100%;
  max-width: 313px;
}
ul .sw-main-navigation-vertical ul > li:hover ul,
ul .sw-main-navigation-vertical ul > li:focus ul,
ul .sw-main-navigation-vertical ul > li:active ul,
ul .sw-main-navigation-vertical ul > li.active ul {
  z-index: 102;
}
.sw-main-navigation-horizontal {
  position: static;
  top: auto;
  left: auto;
  z-index: 0;
  border-top: 0;
  background: #666666;
  margin-bottom: 0;
  display: table;
  width: 100%;
}
.sw-main-navigation-horizontal > ul {
  display: table-row;
}
.sw-main-navigation-horizontal > ul > li {
  display: inline-block;
  display: table-cell;
}
.sw-main-navigation-horizontal > ul > li > a,
.sw-main-navigation-horizontal > ul > li > strong {
  text-align: center;
  display: block;
  border-right: 1px solid #ffffff;
  border-bottom: 0;
}
.sw-main-navigation-horizontal > ul > li:last-child > a,
.sw-main-navigation-horizontal > ul > li:last-child > strong {
  border-right: none;
}
.sw-main-navigation-horizontal ul li {
  position: relative;
}
.sw-main-navigation-horizontal ul ul {
  position: absolute;
  top: -999px;
  left: -1px;
}
.sw-main-navigation-horizontal ul > li:hover > ul,
.sw-main-navigation-horizontal ul > li:focus > ul,
.sw-main-navigation-horizontal ul > li:active > ul,
.sw-main-navigation-horizontal ul > li.active > ul {
  z-index: 101;
  left: -1px;
  top: 100%;
  max-width: 313px;
}
.sw-main-navigation-horizontal ul ul > li:hover > ul,
.sw-main-navigation-horizontal ul ul > li:focus > ul,
.sw-main-navigation-horizontal ul ul > li:active > ul,
.sw-main-navigation-horizontal ul ul > li.active > ul {
  z-index: 102;
  left: 100%;
  top: 0;
}
.sw-main-navigation-big-screen {
  position: static;
  top: auto;
  left: auto;
  z-index: 0;
  border-top: 0;
}
.wm-p-gallery {
  margin-bottom: 40px;
}
@media (max-width: 599px) {
  .wm-p-gallery {
    margin-bottom: 20px;
  }
}
#sw-gallery {
  position: relative;
  overflow: hidden;
}
.sw-gallery-list {
  margin-right: 5px;
  -webkit-overflow-scrolling: touch;
}
.sw-gallery-item {
  display: inline-block;
  padding: 0 5px 5px 0;
  margin: 0 0 0 -4px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sw-gallery-item a {
  display: block;
}
.sw-gallery-item img {
  width: 100%;
}
#sw-gallery.with-carousel {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 90%;
}
#sw-gallery.with-carousel .sw-gallery-list {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  border: 0;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
#sw-gallery.with-carousel .sw-gallery-item {
  width: 90%;
}
#sw-gallery.with-4-items .sw-gallery-item {
  width: 25%;
}
#sw-gallery.with-4-items.with-carousel {
  padding-bottom: 22.5%;
}
#sw-gallery.with-4-items.with-carousel .sw-gallery-item {
  width: 22.5%;
}
#sw-gallery.with-2-items .sw-gallery-item {
  width: 50%;
}
#sw-gallery.with-2-items.with-carousel {
  padding-bottom: 45%;
}
#sw-gallery.with-2-items.with-carousel .sw-gallery-item {
  width: 45%;
}
#sw-logo {
  margin-bottom: 20px;
  margin-top: 20px;
}
#sw-logo-desktop {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 10%;
  margin: 0;
}
#sw-logo-desktop .sw-logo-desktop-image {
  text-indent: -5000px;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  border: 0;
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 599px) {
  #sw-logo-desktop {
    display: none;
  }
}
#sw-logo-mobile {
  display: none;
}
#sw-logo-mobile img {
  max-width: 200px;
  height: auto;
}
@media (max-width: 599px) {
  #sw-logo-mobile {
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.wm-p-header-image {
  margin-bottom: 40px;
}
@media (max-width: 599px) {
  .wm-p-header-image {
    margin-bottom: 20px;
  }
}
.wm-p-header-image #sw-header-image {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100px;
}
@media print {
  .wm-p-header-image {
    display: none;
  }
}
.wm-p-text {
  margin-bottom: 40px;
}
@media (max-width: 599px) {
  .wm-p-text {
    margin-bottom: 20px;
  }
}
.wm-p-map {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 20px;
}
@media (max-width: 599px) {
  .wm-p-map {
    margin-bottom: 20px;
  }
}
.wm-p-map .sw-smap-pagelet,
.wm-p-map .sw-map-pagelet {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}
.wm-p-map .small-screen-button {
  display: none;
}
@media print {
  .wm-p-map {
    display: none;
  }
}
@media (max-width: 599px) {
  .wm-p-map {
    position: static;
    padding-bottom: 0;
    height: auto;
  }
  .wm-p-map .small-screen-button {
    display: block;
  }
  .wm-p-map .sw-smap-pagelet,
  .wm-p-map .sw-map-pagelet {
    display: none;
  }
}
.wm-p-contact-info {
  margin-bottom: 40px;
}
@media (max-width: 599px) {
  .wm-p-contact-info {
    margin-bottom: 20px;
  }
}
.wm-p-contact-info .AddressPart {
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .wm-p-contact-info .sw-contact-phone,
  .wm-p-contact-info .sw-contact-secondaryPhone,
  .wm-p-contact-info .sw-contact-email {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
  
    *zoom: 1;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e6e6e6;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #cccccc;
    *border: 0;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .wm-p-contact-info .sw-contact-phone:hover,
  .wm-p-contact-info .sw-contact-secondaryPhone:hover,
  .wm-p-contact-info .sw-contact-email:hover,
  .wm-p-contact-info .sw-contact-phone:focus,
  .wm-p-contact-info .sw-contact-secondaryPhone:focus,
  .wm-p-contact-info .sw-contact-email:focus,
  .wm-p-contact-info .sw-contact-phone:active,
  .wm-p-contact-info .sw-contact-secondaryPhone:active,
  .wm-p-contact-info .sw-contact-email:active,
  .wm-p-contact-info .sw-contact-phone.active,
  .wm-p-contact-info .sw-contact-secondaryPhone.active,
  .wm-p-contact-info .sw-contact-email.active,
  .wm-p-contact-info .sw-contact-phone.disabled,
  .wm-p-contact-info .sw-contact-secondaryPhone.disabled,
  .wm-p-contact-info .sw-contact-email.disabled,
  .wm-p-contact-info .sw-contact-phone[disabled],
  .wm-p-contact-info .sw-contact-secondaryPhone[disabled],
  .wm-p-contact-info .sw-contact-email[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
  }
  .wm-p-contact-info .sw-contact-phone:active,
  .wm-p-contact-info .sw-contact-secondaryPhone:active,
  .wm-p-contact-info .sw-contact-email:active,
  .wm-p-contact-info .sw-contact-phone.active,
  .wm-p-contact-info .sw-contact-secondaryPhone.active,
  .wm-p-contact-info .sw-contact-email.active {
    background-color: #cccccc \9;
  }
  .wm-p-contact-info .sw-contact-phone:first-child,
  .wm-p-contact-info .sw-contact-secondaryPhone:first-child,
  .wm-p-contact-info .sw-contact-email:first-child {
    *margin-left: 0;
  }
  .wm-p-contact-info .sw-contact-phone:hover,
  .wm-p-contact-info .sw-contact-secondaryPhone:hover,
  .wm-p-contact-info .sw-contact-email:hover,
  .wm-p-contact-info .sw-contact-phone:focus,
  .wm-p-contact-info .sw-contact-secondaryPhone:focus,
  .wm-p-contact-info .sw-contact-email:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
  }
  .wm-p-contact-info .sw-contact-phone:focus,
  .wm-p-contact-info .sw-contact-secondaryPhone:focus,
  .wm-p-contact-info .sw-contact-email:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .wm-p-contact-info .sw-contact-phone.active,
  .wm-p-contact-info .sw-contact-secondaryPhone.active,
  .wm-p-contact-info .sw-contact-email.active,
  .wm-p-contact-info .sw-contact-phone:active,
  .wm-p-contact-info .sw-contact-secondaryPhone:active,
  .wm-p-contact-info .sw-contact-email:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  }
  .wm-p-contact-info .sw-contact-phone.disabled,
  .wm-p-contact-info .sw-contact-secondaryPhone.disabled,
  .wm-p-contact-info .sw-contact-email.disabled,
  .wm-p-contact-info .sw-contact-phone[disabled],
  .wm-p-contact-info .sw-contact-secondaryPhone[disabled],
  .wm-p-contact-info .sw-contact-email[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.wm-p-social-networks {
  margin-bottom: 40px;
  text-align: center;
  height: 42px;
}
@media (max-width: 599px) {
  .wm-p-social-networks {
    margin-bottom: 20px;
  }
}
.wm-p-social-networks .facebook,
.wm-p-social-networks .twitter,
.wm-p-social-networks .google {
  background: #999999;
  color: #ffffff;
  padding: 11px 19px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17.5px;
}
@media (max-width: 599px) {
  .wm-p-social-networks .facebook,
  .wm-p-social-networks .twitter,
  .wm-p-social-networks .google {
    margin-bottom: 10px;
  }
}
.wm-p-social-networks .facebook {
  background: #3b428a;
}
.wm-p-social-networks .twitter {
  background: #077a8d;
}
.wm-p-social-networks .google {
  background: #1185d8;
}
@media print {
  .wm-p-social-networks {
    display: none;
  }
}
.wm-p-video {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
@media (max-width: 599px) {
  .wm-p-video {
    margin-bottom: 20px;
  }
}
.wm-p-video iframe,
.wm-p-video video {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}
.wm-p-contact-form {
  margin-bottom: 40px;
}
@media (max-width: 599px) {
  .wm-p-contact-form {
    margin-bottom: 20px;
  }
}
.wm-p-contact-form #sw-contact-form-text {
  width: 90%;
  height: 86px;
}
@media (max-width: 720px) {
  .wm-p-contact-form #sw-contact-form-text {
    width: 95%;
  }
}
.wm-p-contact-form #sw-contact-form-name,
.wm-p-contact-form #sw-contact-form-email {
  width: 85%;
  display: block;
}
@media (max-width: 720px) {
  .wm-p-contact-form #sw-contact-form-name,
  .wm-p-contact-form #sw-contact-form-email {
    width: 95%;
  }
}
@media print {
  .wm-p-contact-form {
    display: none;
  }
}
@media (max-width: 720px) {
  .wm-p-contact-form .row-fluid [class*="span"] {
    float: none;
    width: auto;
    margin-left: 0;
  }
}
@media (min-width: 600px) {
  .wm-t-twocolumn .wm-l-header {
    display: block;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    width: 100%;
    *width: 99.94680851063829%;
    margin-left: 0;
  }
  .wm-t-twocolumn #sw-main-navigation {
    clear: both;
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    width: 31.914893617021278%;
    *width: 31.861702127659576%;
    margin-left: 0;
  }
  .wm-t-twocolumn .wm-p-header-image {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    width: 65.95744680851064%;
    *width: 65.90425531914893%;
    position: relative;
    height: 0;
    padding-bottom: 37.096875000000004%;
  }
  .wm-t-twocolumn .wm-p-header-image #sw-header-image {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    border: 0;
  }
  .wm-t-twocolumn .content {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    width: 65.95744680851064%;
    *width: 65.90425531914893%;
    margin-left: 34.04255319148936%;
    *margin-left: 33.93617021276596%;
  }
  .wm-t-onecolumn .wm-p-header-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 30%;
  }
  .wm-t-onecolumn .wm-p-header-image #sw-header-image {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    border: 0;
  }
  .wm-t-onecolumn .content {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    width: 65.95744680851064%;
    *width: 65.90425531914893%;
    margin-left: 17.02127659574468%;
    *margin-left: 16.914893617021278%;
  }
}
.old-ie .wm-t-twocolumn .wm-l-header {
  display: block;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  width: 100%;
  *width: 99.94680851063829%;
  margin-left: 0;
}
.old-ie .wm-t-twocolumn #sw-main-navigation {
  clear: both;
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
  margin-left: 0;
}
.old-ie .wm-t-twocolumn .wm-p-header-image {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
  position: relative;
  height: 0;
  padding-bottom: 37.096875000000004%;
}
.old-ie .wm-t-twocolumn .wm-p-header-image #sw-header-image {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}
.old-ie .wm-t-twocolumn .content {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}
.old-ie .wm-t-onecolumn .wm-p-header-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
}
.old-ie .wm-t-onecolumn .wm-p-header-image #sw-header-image {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}
.old-ie .wm-t-onecolumn .content {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}
