/* Mrizka responzivni Webmium sablony */
// -----------------------------------------------------------------

// Nejjednodussi by bylo dynamicky pomoci Bootstrap mixinu:
// #grid > .fluid(@fluidGridColumnWidth, @fluidGridGutterWidth);
// Ale .span* tridy potrebujeme vyuzit jako mixiny a tak zde mame
// uz vygenerovany kod.

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}

.row-fluid:after {
  clear: both;
}

[class*="span"],
.span {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}

.row-fluid [class*="span"]:first-child,
.span-first {
  margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}

.span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}
.offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}
.offset12:first-child,
.offset12-span-first {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}
.offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}
.offset11:first-child,
.offset11-span-first {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}
.offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}
.offset10:first-child,
.offset10-span-first {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}
.offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}
.offset9:first-child,
.offset9-span-first {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}
.offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}
.offset8:first-child,
.offset8-span-first {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}
.offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}
.offset7:first-child,
.offset7-span-first {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}
.offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}
.offset6:first-child,
.offset6-span-first {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}
.offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}
.offset5:first-child,
.offset5-span-first {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}
.offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}
.offset4:first-child,
.offset4-span-first {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}
.offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}
.offset3:first-child,
.offset3-span-first {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}
.offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}
.offset2:first-child,
.offset2-span-first {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}
.offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}
.offset1:first-child,
.offset1-span-first {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}