// === Layout ===
// Tridy s prefixem .wm-l-

// Mobilni hlavicka
.wm-l-mobile-header {
	background: @black;
	margin: -1*@gridGutterWidth -1*@gridGutterWidth @baseLineHeight -1*@gridGutterWidth;
	padding: @gridGutterWidth/2 @gridGutterWidth;
  .clearfix();	
}

// Hlavicka
.wm-l-header {	
	@media (max-width: @smallDisplayEnd) {
		text-align: center;
	}

	h1 {
		@media (max-width: @smallDisplayEnd) {
			font-size: 26px;
		}			
	}		
}

// Paticka
.wm-l-footer {
	margin: -1*@gridGutterWidth -1*@gridGutterWidth 0 -1*@gridGutterWidth;	
	padding: @gridGutterWidth/2 @gridGutterWidth;	
	background: lighten(@grayLighter, 3%);
  clear: both;

	p {
		margin: 0;
	}
}
