// === Webmium Moduly ===
// Znovupouzitelne moduly a mixiny napric celym kodem
// Tridy s prefixem .wm-m-


// --- Modul Sekce v obsahu ---
// Vzdy odsazeni zezdola a pro jistotu smazani clearu.
// Napr. vsechny pagelety, navigace atd.
.wm-m-section {
	margin-bottom: 2*@baseLineHeight;
	
	@media (max-width: @smallDisplayEnd) {
		margin-bottom: @baseLineHeight;
	}	
}

// --- Mixin Proporc ---
// Responzivni media se zachovanim pomeru stran:
// http://kratce.vzhurudolu.cz/post/44617199471/responzivni-media-se-zachovanim-pomeru-stran

// Rodic 
// Ve @width, @height je pomer stran (napr. 16:9 je .wm-m-proportional-parent(16, 9))
.wm-m-proportional-parent(@width, @height) {
	position: relative;
	width: 100%;
	height: 0;
  padding-bottom: @height/@width*100%; 
}

// Samotny element
// !important tady potrebujeme k prepsani inline CSS vkladane SMapovym javascriptem
.wm-m-proportional-child {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	border: 0;
}
