// Horizontalni varianta navigace pro velke screeny
// - naskladame polozky prvni urovne vedle sebe
// - polozky druhe urovne schovame
#sw-main-navigation.nav-horizontal {
	text-align: center;

	li {
		display: inline-block;			
	}
	
	li > a,
	li > strong {
		display: inline-block;	
		border-right: 1px solid @white;			
		border-bottom: 0;
	}	
	
	> ul > li:first-child > a,
	> ul > li:first-child > strong {
		border-left: 1px solid @white;				
	}		

	ul ul {
		display: none;
	}
}	