// --- Pagelet: Hlavni navigace ---
// Defaultne je mobilni, se vsemi otevrenymi polozkami a vertikalni.

// -- Default: Vertikalni (male screeny + vertikalni varianta pro velke) ---

#sw-main-navigation {
	// Na malych screenech pozicovano hned pod .wm-l-mobile-header a pres obsah
	z-index: 100;
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;	
	border-top: 1px solid @white;
	
	ul, 
	li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	li > a,
	li > strong {
		display: block;
		padding: @paddingLarge;
		background: @colorNavLevel1Bg;
		color: @colorNav;
		border-bottom: 1px solid @white;
		font-weight: normal;
		.text-overflow();
	}
		
	li > a:hover,
	li > a:focus,
	li > a:active,
	li > a.active,			
	li > strong {
		background: @colorNavActiveBg;
		text-decoration: none;
	}
	
	// Druha uroven zanoreni
	ul ul li > a,
	ul ul li > strong {
		background: @colorNavLevel2Bg;		
	}
	
	// Treti uroven zanoreni	
	ul ul ul li > a,
	ul ul ul li > strong {
		background: @colorNavLevel3Bg;
	}	
	
	@media print {
		display: none;
	}	
}

// --- Vertikalni varianta  pro velke screeny ---

#sw-main-navigation.nav-vertical {	
	// Rozklikavaci vertikalni verze pro velke displeje
	@media (min-width: @largeDisplayStart) {
		.sw-main-navigation-vertical;
	}

	// Rozklikavaci vertikalni verze: IE8-
	.old-ie & {
		.sw-main-navigation-vertical;
	}	
}

// --- Horizontalni varianta  ---

// Horizontalni varianta navigace pro velke screeny
#sw-main-navigation.nav-horizontal {
	// Opakovani mixinu .sw-main-navigation-horizontal je hack kvuli neschopnosti LESSu 
	// spojit css selektor s vnorenou media querie do jednoho vnoreneho selektoru.
	@media (min-width: @largeDisplayStart) {
		.sw-main-navigation-horizontal;
	}

	.old-ie & {
		.sw-main-navigation-horizontal;
	}
}

// --- Mixiny ---

// Mixin: Vertikalni varianta navigace pro velke screeny
.sw-main-navigation-vertical {
	.sw-main-navigation-big-screen;
	
	// - Nerozbaleny stav -
	ul li {
		position: relative;
	}
	
	// Zabaleny stav druhe a treti urovne
	ul ul {			
		position: absolute;
		top: 0;
		left: -999px;
		border-left: 1px solid #fff;		
	}	

	// - Rozbaleny stav -	
	ul > li:hover,
	ul > li:focus,
	ul > li:active,
	ul > li.active {		
		// Vsechny urovne zanoreni
		> ul {
			z-index: 101;
			left: 100%;	
			max-width: 313px; // Max. sirka polozky v plne sirce layoutu
		}
		
		// Treti uroven zanoreni
		ul & ul {
			z-index: 102;
		}		
	}	
}

// Mixin: Horizontalni varianta navigace pro velke screeny
.sw-main-navigation-horizontal {
	.sw-main-navigation-big-screen;
	background: @colorNavLevel1Bg;
	margin-bottom: 0;	
	display: table; // Protoze nevime kolik bude polozek na radku
	width: 100%;
	
	> ul {
		display: table-row;
	}

	> ul > li {
		display: inline-block; // Fallback kdyz nefici display: table
		display: table-cell;
	}

	> ul > li > a,
	> ul > li > strong {
		text-align: center;				
		display: block;	
		border-right: 1px solid @white;			
		border-bottom: 0;
	}	

	> ul > li:last-child > a,
	> ul > li:last-child > strong {
		border-right: none;				
	}		

	// - Nerozbaleny stav -

	ul li {
		position: relative;
	}
	
	// Zabaleny stav druhe a treti urovne
	ul ul {			
		position: absolute;
		top: -999px;
		left: -1px;		
	}

	// - Rozbaleny stav -

	// Druha uroven zanoreni	
	ul > li:hover,
	ul > li:focus,
	ul > li:active,
	ul > li.active {		
		> ul {
			z-index: 101;
			left: -1px;
			top: 100%;	
			max-width: 313px; // Max. sirka polozky v plne sirce layoutu
		}		
	}	
	
	// Treti uroven zanoreni
	ul ul > li:hover,
	ul ul > li:focus,
	ul ul > li:active,
	ul ul > li.active {		
		> ul {
			z-index: 102;
			left: 100%;
			top: 0;	
		}		
	}
}


// Mixin: Resetujeme pozicovani pro male screeny
.sw-main-navigation-big-screen {
	position: static;
	top: auto;
	left: auto;
	z-index: 0;
	border-top: 0;
}