// === Pagelety ===
// Tridy s prefixem .wm-p-

// --- Pagelet: logo ---

// Textova varianta
#sw-logo {
	margin-bottom: @baseLineHeight;
	margin-top: @baseLineHeight;
}

// Obrazkova varianta: desktop ma logo vmontovane do prouzku 940x94
#sw-logo-desktop {
	position: relative;
	.wm-m-proportional-parent(10,1); // 10:1
	margin: 0;
	
	// Samotny obrazek
	.sw-logo-desktop-image {
		text-indent: -5000px;
		.wm-m-proportional-child;
		display: block;
		.background-size(cover);
	}
	
	@media (max-width: @smallDisplayEnd) {
		display: none;
	}	
}

// Obrazkova varianta: mobilni ma logo maximalne 200px siroke
#sw-logo-mobile {	
	display: none;
	
	img {
		max-width: 200px;
		height: auto;
	}
	
	@media (max-width: @smallDisplayEnd) {
		margin-bottom: @baseLineHeight;		
		display: block;
		margin-left: auto;
		margin-right: auto;
	}	
}




// --- Pagelet: Obrazek v hlavicce ---
// Konkretni stylovani je v sablonach (wm-templates.less)

.wm-p-header-image {
	.wm-m-section;
	
	#sw-header-image {
		background-position: center center;
		.background-size(cover); 
		min-height: 100px;
	}		
	
	@media print {
		display: none;
	}	
}


// --- Pagelet: Text ---

.wm-p-text {
	.wm-m-section;	
}

// --- Pagelet: Mapa (Seznam nebo Google)---

.wm-p-map {
	.wm-m-section;
	.wm-m-proportional-parent(16,9); // 16:9
	margin-bottom: @baseLineHeight;
	
	.sw-smap-pagelet,
	.sw-map-pagelet {
		.wm-m-proportional-child;
	}
	
	.small-screen-button {
		display: none;
	}
	
	@media print {
		display: none;
	}	
	
	// Male displeje: zobrazime jen tlacitko
	@media (max-width: @smallDisplayEnd) {
		position: static;
		padding-bottom: 0;
		height: auto;
		
		.small-screen-button {
			display: block;
		}		
		
		.sw-smap-pagelet,
		.sw-map-pagelet {
			display: none;
		}				
	}	
}


// --- Pagelet: Kontaktni info ---

.wm-p-contact-info {
	.wm-m-section;	
	
	.AddressPart {
			margin-bottom: @baseLineHeight;				
	}
	
	// Kontaktni telefony a email: na malych screenech jsou z nich poradna tlacitka
	.sw-contact-phone,
	.sw-contact-secondaryPhone,
	.sw-contact-email {
		@media screen and (max-width: @largeDisplayStart) {
			.btn;
			.btn-block;
				margin-bottom: @baseLineHeight/2;		
		}	
	}	
}


// --- Pagelet: Socialni site ---

.wm-p-social-networks {
	.wm-m-section;
	text-align: center;
	height: 42px;
	
	.facebook,
	.twitter,
	.google {
		background: @grayLight;
		color: @white;
		padding: @paddingLarge;
		.box-sizing(border-box);
		font-size: @fontSizeLarge;		
		
		@media (max-width: @smallDisplayEnd) {
			margin-bottom: @baseLineHeight/2;
		}
	}	
	
	.facebook { background: #3b428a; }
	.twitter { background: #077a8d; }
	.google { background: #1185d8; }
	
	@media print {
		display: none;
	}	
}

// --- Pagelet: Video ---

.wm-p-video {
	.wm-m-section;
	.wm-m-proportional-parent(16,9); // 16:9

	iframe,
	video {
		.wm-m-proportional-child;
	}
}



// --- Pagelet: Kontaktni formular ---

.wm-p-contact-form {
	.wm-m-section;
	
	#sw-contact-form-text {
		width: 90%;
		height: 86px;
		
		@media (max-width: 720px) {
			width: 95%;
		}
	}
	
	#sw-contact-form-name,
	#sw-contact-form-email {
		width: 85%;		
		display: block;	
		
		@media (max-width: 720px) {
			width: 95%;
		}				
	}
	
	@media print {
		display: none;
	}	
	
	// Mensi displeje: rusime floatovani
	// Tady driv nez na obvykle hranici
	@media (max-width: 720px) {
		.row-fluid [class*="span"] {
			float: none;
			width: auto;
			margin-left: 0;
		}
	}	
}

