// Barvy

// Navigace
@colorNav:				 #fff;
@colorNavActiveBg: #333; 
@colorNavLevel1Bg: #666; 
@colorNavLevel2Bg: #999;
@colorNavLevel3Bg: #ccc;

// RWD breakpointy

@largeDisplayStart: 600px;
@smallDisplayEnd: 	599px;
@mobileDisplayEnd: 	480px;